*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #121212;
}

li{
  list-style: none;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:40px
}

.menu-items{
  color: var(--color);
  width: 350px;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--color);
  border-radius: 20px;
  cursor: pointer;

  transition: box-shadow 0.4s linear, border 0.4s linear;
}

.menu-items:hover{
  box-shadow: inset var(--color) 50px 0 0 4px,
              inset var(--color) -50px 0 0 4px;
}